{{ header }}
<div id="account-address" class="container">
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h3 style="margin-bottom: 38px;" onclick="openSlide()"><span class="fa fa-align-justify visible-xs-inline" style="font-size: inherit"></span> {{ text_address_book }}</h3>
            {% if addresses or billing_addresses %}
                <div class="col-lg-offset-2 col-sm-8">
                    <div class="row">
                        <div style="font-size: 14px; background-color: RGB(254,248,250); font-weight: bold; padding-top: 7px; padding-bottom: 7px;">Mes adresses de livraisons enregistrées </div>
                        <hr style="margin-top: 0px;">
                        <div>
                            {% for result in addresses %}
                                <div class="col-lg-12">
                                    <div class="text-left">{{ result.address }}
                                        <span class="text-right">
                                        <a href="{{ result.delete }}" class="edit-address fa fa-close"></a>&nbsp;
                                        <a href="{{ result.update }}" class="edit-address fa fa-edit"
                                           style="top:auto"></a>
                                    </span>
                                    </div>
                                    <hr>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="buttons clearfix">
                        <div   class="pull-right"><a href="{{ add }}" class="zalark-button"
                                                   style="padding: 10px 10px 10px 10px;font-size: 14px;" >{{ button_new_address }}</a></div>
                    </div>
                </div>

                {#<div class="col-sm-6">#}
                {#<div class="row">#}
                {#<h3>address de facturation</h3>#}
                {#<hr>#}
                {#<div class="table-responsive">#}
                {#{% for result in billing_addresses %}#}
                {#<div class="col-lg-12">#}
                {#<div class="text-left">{{ result.address }}#}
                {#<span class="text-right">#}
                {#<a href="{{ result.delete }}" class="edit-address fa fa-close"></a>&nbsp;#}
                {#<a href="{{ result.update }}" class="edit-address fa fa-edit"#}
                {#style="top:auto"></a>#}
                {#</span>#}
                {#</div>#}
                {#<hr>#}
                {#</div>#}
                {#{% endfor %}#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            {% else %}
                <p>{{ text_no_results }}</p>
            {% endif %}

            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script>
    $('#column-left').removeClass('hidden-xs');
    function openSlide() {
        $("#slidebar").css({"width": "100%"});
    }
</script>
{{ footer }}
