{{ header }}
<div id="account-order" class="container">
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h3 style="margin-bottom: 38px;" onclick="openSlide()"><span class="fa fa-align-justify visible-xs-inline" style="font-size: inherit"></span> {{ heading_title }}</h3>
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="text-left" style="width: 50%;">
                        {% if invoice_no %}
                            <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br/>
                        {% endif %}
                        <b style="font-size: 14px;">{{ text_order_id }}</b> #{{ order_id }}<br/>
                        <b style="font-size: 14px;">{{ text_date_added }}</b> {{ date_added }}</td>
                    <td class="text-left" style="width: 50%;">
                        <b style="font-size: 14px;">{{ text_payment_method }}</b> {{ payment_method }}<br/>
                        <b style="font-size: 14px;">{{ text_shipping_method }}</b> {{ shipping_method }}
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-xs-12" style="margin-bottom: 25px">
                            <div class="col-md-12" style="border: 2px solid #ff1b5a; min-height: 105px">
                                <div class="row" style="background-color: #ff1b5a;">
                                    <div
                                         style="color: white; font-weight: bold; margin-left: 15px;">{{ text_shipping_address }}</div>
                                </div>
                                <div style="margin-left: 10px;">{{ shipping_address }}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12" style="margin-bottom: 25px">
                            <div class="col-md-12" style="border: 2px solid #ff1b5a; min-height: 105px">
                                <div class="row" style="background-color: #ff1b5a;">
                                    <div style="color: white; font-weight: bold; margin-left: 10px;">{{ text_billing_address }}</div>
                                </div>
                                <div class="text-left" style="margin-left: 10px;">{{ billing_address }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 style="font-size: 14px; margin-bottom: 27px;">Détails de la commande</h3>
            <div class="col-md-12">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead style="background-color: RGB(254,248,250)">
                            <tr>
                                <td style="font-size: 14px; font-weight: bold" class="text-left">{{ column_name }}</td>
                                <td style="font-size: 14px; font-weight: bold" class="text-left">{{ column_manufacturer }}</td>
                                <td style="font-size: 14px; font-weight: bold" class="text-right">{{ column_quantity }}</td>
                                <td style="font-size: 14px; font-weight: bold" class="text-right">{{ column_price }}</td>
                                <td style="font-size: 14px; font-weight: bold" class="text-right">{{ column_total }}</td>
                                {% if products %}
                                    <td style="width: 20px;"></td>
                                {% endif %} </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr onclick="window.location='{{ product.link }}'" style="cursor: pointer">
                                    <td  style="font-size: 14px;" class="text-left">{{ product.name }}
                                        {% for option in product.option %} <br/>
                                            &nbsp;
                                            <small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
                                    <td style="font-size: 14px;" class="text-left">{{ product.manufacturer }}</td>
                                    <td style="font-size: 14px;" class="text-right">{{ product.quantity }}</td>
                                    <td style="font-size: 14px;" class="text-right">{{ product.price }}</td>
                                    <td style="font-size: 14px;" class="text-right">{{ product.total }}</td>
                                    {#<td class="text-right" style="white-space: nowrap;">#}
                                    {#<a href="{{ product.return }}" data-toggle="tooltip"#}
                                    {#title="{{ button_return }}"#}
                                    {#class="btn btn-danger"><i class="fa fa-reply"></i></a></td>#}
                                </tr>
                            {% endfor %}
                            {% for voucher in vouchers %}
                                <tr>
                                    <td  style="font-size: 14px;" class="text-left">{{ voucher.description }}</td>
                                    <td class="text-left"></td>
                                    <td class="text-right">1</td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                    <td class="text-right">{{ voucher.amount }}</td>
                                    {% if products %}
                                        <td></td>
                                    {% endif %} </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" style="border: 0"></td>
                                <td class="text-right" style="border: 0;font-size: 14px;"><b>Frais de livraison</b><span style="color: #A7A7A7; font-size: 11px;" > (TVA Incluse)</span></td>
                                <td class="text-right" style="border: 0;font-size: 14px;">Gratuit</td>
                            </tr>
                            {% for total in totals %}
                                <tr>
                                    <td colspan="3" style="border: 0"></td>
                                    <td class="text-right" style="border: 0;font-size: 14px;"><b>{{ total.title }}</b><span style="color: #A7A7A7; font-size: 11px;" > (TVA Incluse)</span></td>
                                    <td class="text-right" style="border: 0; font-size: 14px;">{{ total.text }}</td>
                                    {% if products %}
                                        <td style="border: 0;font-size: 14px"></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            {% if comment %}
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td class="text-left">{{ text_comment }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-left">{{ comment }}</td>
                    </tr>
                    </tbody>
                </table>
            {% endif %}
            {% if histories %}
                <h3>{{ text_history }}</h3>
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <td class="text-left">{{ column_date_added }}</td>
                        <td class="text-left">{{ column_status }}</td>
                        <td class="text-left">{{ column_comment }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if histories %}
                        {% for history in histories %}
                            <tr>
                                <td class="text-left">{{ history.date_added }}</td>
                                <td class="text-left">{{ history.status }}</td>
                                <td class="text-left">{{ history.comment }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3" class="text-center">{{ text_no_results }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script>
    $('#column-left').removeClass('hidden-xs');
    function openSlide() {
        $("#slidebar").css({"width": "100%"});
    }
</script>
{{ footer }}
