{{ header }}
<div id="account-order" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3 style="margin-bottom: 38px;" onclick="openSlide()"><span class="fa fa-align-justify visible-xs-inline" style="font-size: inherit"></span> {{ heading_title }}</h3>
      {% if orders %}
      <div class="table-responsive">
        <table class="table  table-hover">
          <thead style="background-color: RGB(254,248,250);">
            <tr>
              <th class="text-center text-capitalize" >{{ column_order_id }}</th>
              <th class="text-center text-capitalize">{{ column_product }}</th>
              <th class="text-center text-capitalize">{{ column_status }}</th>
              <th class="text-center text-capitalize">{{ column_total }}</th>
              <th class="text-center text-capitalize">{{ column_date_added }}</th>
              <td></td>
            </tr>
          </thead>
          <tbody>
           {% for order in orders %}
            <tr>
              <td class="text-center">#{{ order.order_id }}</td>
              <td class="text-center">{{ order.products }}</td>
              <td class="text-center">{{ order.status }}</td>
              <td class="text-center">{{ order.total }}</td>
              <td class="text-center">{{ order.date_added }}</td>
              <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" ><i class="fa fa-arrow-circle-o-right" style="font-size: 20px"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_no_results }}</p>
      {% endif %}

      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
    $('#column-left').removeClass('hidden-xs');
    function openSlide() {
        $("#slidebar").css({"width": "100%"});
    }
</script>
{{ footer }}