<div id="title" class="container" align="center">
    <h1 id="title-checkout">Validation</h1>
    <hr style="border-top: 3px solid #eee">
</div>
<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
    <div class="col-sm-7">
        <div class="col-sm-12"><h4>LIVRAISON</h4>
            <hr class="hr-marge">
            <div class="col-sm-10 col-xs-10 form-group">
                <label class="check_filter">test<h5>Livraison Standard</h5>
                    <input type="radio" class="checkbox" name="delivery" value="Standard">
                    <span class="checkmark checkradio"></span>
                </label>
            </div>
            <div class="col-sm-2 col-xs-2">gratuit</div>
            {#<div class="col-sm-10 form-group">#}
            {#<label class="check_filter">test<h5>Livraison express</h5>#}
            {#<input type="radio" class="checkbox" name="livraison" value="express">#}
            {#<span class="checkmark checkradio"></span>#}
            {#</label>#}
            {#</div>#}
            {#<div class="col-sm-2">gratuit</div>#}
        </div>
        <div class="col-sm-12 col-xs-12"><h4>COMMANDE</h4>
            <hr class="hr-marge">
            {% for product in products %}
                <div class="product col-sm-12 col-xs-12">
                    <div class="col-sm-2 col-xs-6">
                        <img class="img-responsive" src="{{ product.image }}">
                    </div>
                    <div class="col-sm-9 col-xs-6" style="margin: 25px 0 0 0">
                        <div class="cart-id" style="display: none;">{{ product.cart_id }}</div>
                        <div>{{ product.model }}</div>
                        <div>{{ product.name }}</div>
                        <div>Couleur: {{ product.color }}</div>
                        {% if product.option %}
                            {% for option in product.option %}
                                <div>{{ option.name }}: {{ option.value }}</div>
                            {% endfor %}
                        {% endif %}
                        <div>Quantite: {{ product.quantity }}</div>
                        <div><b>{{ product.price }} {{ currency }}</b></div>
                    </div>
                    <div class="delete-product"><i class="fa fa-close"></i></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-5 col-xs-12">
        <div class="col-sm-12">
            <div class="fa-option" id="address-edit" onclick="step.next(2)"><i class="fa fa-edit"></i></div>
            <h4>ADRESSE DE LIVRAISON</h4>
            <hr class="hr-marge">
            {{ shipping_address.address }}
        </div>
        <div class="col-sm-12">
            <div class="fa-option" onclick="step.next(2)" id="fac-edit"><i class="fa fa-edit"></i></div>
            <h4 style="margin-top: 26px;">ADRESSE DE FACTURATION</h4>
            <hr class="hr-marge">
            {% if billing_address %}
                {{ billing_address.address }}
            {% else %}
                Identique a l'adresse de livraison
            {% endif %}
        </div>
        <div class="col-sm-12">
            <div class="fa-option" id="pay-edit" onclick="step.next(3)"><i class="fa fa-edit"></i></div>
            <h4 style="margin-top: 26px;">MOYEN DE PAYEMENT</h4>
            <hr class="hr-marge">
            {% if payment_method == '01' %}
                <img class="pay-checkout" src="catalog/view/theme/default/image/paypal.png">
            {% elseif payment_method == '17' %}
                <img class="pay-checkout" src="catalog/view/theme/default/image/livraison2.png">
            {% else %}
                <img class="pay-checkout" src="catalog/view/theme/default/image/master2.png">
                <img class="pay-checkout" src="catalog/view/theme/default/image/visa2.png">
            {% endif %}
        </div>
        <div class="col-sm-12"><h4 style="margin-top: 26px;">CODE PROMO & CARTE CADEAU</h4>
            <hr class="hr-marge">
            <div class="form-group">
                <div class="coupon-field col-md-12">
                    <i class="fa fa-remove" id="remove-coupon"
                       style="position: absolute;padding: 13px;cursor: pointer;right: 15px;display: {% if coupon %} inline-block{% else %} none {% endif %};"></i>
                    <i class="fa fa-check" id="coupon"
                       style="position: absolute;padding: 13px;cursor: pointer;right: 15px;display: {% if coupon %} none {% else %} inline-block {% endif %};"></i>
                    <input type="text" class="form-control input-zalark" name="coupon"
                           placeholder="Entrez votre code promo" value="{{ coupon }}"
                           style="padding-right: 30px;"/>
                </div>
            </div>
            <div id="c_cart_layout_right" class="col-md-12" style="background-color: lightgrey; border-radius: 5px">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 20px;">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 text-left checkout-text"><b style="font-size: 19px; ">Livraison</b></div>
                            <div class="col-sm-6 col-xs-6 text-right checkout-text"><b style="font-size: 19px; ">gratuite</b></div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 text-left checkout-text"><b>Total </b><span
                                        style="font-size: 12px">(TVA incluse)</span>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-right checkout-text {% if discount %} price-old {% endif %}"
                                 id="total">
                                <b>{{ total }}</b></div>
                        </div>
                    </div>
                    {% if discount %}
                        <div class='col-md-12 discount-apply'>
                            <div class='row'>
                                <div class="col-sm-6 col-xs-6 text-left checkout-text"><b>Coupon</b></div>
                                <div class="col-sm-6 col-xs-6 text-right checkout-text"><b>{{ discount }}</b></div>
                            </div>
                        </div>
                        <div class='col-md-12 coupon-apply'>
                            <div class='row'>
                                <div class="col-sm-6 col-xs-6 text-left checkout-text"><b>Total</b></div>
                                <div class="col-sm-6 col-xs-6 text-right checkout-text price-new">
                                    <b>{{ total_discounted }}</b></div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="col-sm-12 zalark-button" style="margin-bottom: 12px; margin-top: 10px;">Valider la commande
                </button>
                <div class="col-sm-12" style="margin-top: 3px; margin-bottom:12px;">
                    <div class="text-center"> En validant votre commande, vous acceptez nos conditions générales de vente et notre politique de protection de données personnelles.</div>

                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(".delete-product").on("click", function () {
        var id = this.parentNode.children[1].children[0].innerText;
        cart.remove(id.toString());
        $(this.parentNode).remove();
    });

    $("#coupon").on("click", function () {
        $.ajax({
            url: 'index.php?route=extension/total/coupon/coupon&language={{ language }}',
            type: 'post',
            data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
            dataType: 'json',
            success: function (json) {
                $('.text-danger').remove();
                $('.coupon-field').removeClass('has-error');
                if (json['error']) {
                    $('.coupon-field').addClass('has-error');
                    $('.coupon-field').after('<div class="text-danger"><i class="fa fa-exclamation-circle"></i>' + json['error'] + '</div>');
                } else if (json['success']) {
                    $('.coupon-field').addClass('has-success');
                    var html = "<div class='col-md-12 discount-apply'><div class='row'><div class=\"col-sm-6 text-left checkout-text\"><b>Coupon</b></div>";
                    html += "<div class=\"col-sm-6 text-right checkout-text\"><b>" + json['discount'] + "</b></div></div></div>";
                    html += "<div class='col-md-12 coupon-apply'><div class='row'><div class=\"col-sm-6 text-left checkout-text\"><b>Total</b></div>";
                    html += "<div class=\"col-sm-6 text-right checkout-text price-new \"><b>" + json['total'] + "</b></div></div></div>";
                    $('#total').after(html);
                    $('#total').addClass('price-old');
                    $("#coupon").hide();
                    $("#remove-coupon").show();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        })
    });

    $("#remove-coupon").on('click', function () {
        $.ajax({
            url: 'index.php?route=extension/total/coupon/remove&language={{ language }}',
            dataType: 'json',
            success: function (json) {
                if (json['success']) {
                    $("#coupon").show();
                    $("input[name='coupon']").val('');
                    $("#remove-coupon").hide();
                    $('.text-danger').remove();
                    $('.discount-apply').remove();
                    $('#total').removeClass('price-old');
                    $('.coupon-apply').remove();
                    $('.coupon-field').removeClass('has-success');
                    $('.coupon-field').removeClass('has-error');
                }
            }
        })
    })
</script>