{{ header }}
<div id="error-not-found" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h2 align="center">{{ heading_title }}</h2>
            <div align="center">
                <img src="catalog/view/theme/default/image/owl.png" width="15"
                     style="margin-bottom: 20px;margin-top: 20px">
            </div>
            <p align="center" style="font-size: 18px">{{ text_error }}</p>
            <div class="col-md-offset-5 col-md-2" style="margin-top: 20px">
                <a href="{{ continue }}" >
                    <button class="zalark-button" style="color: whitesmoke;font-size: 15px">
                        {{ button_continue }}
                    </button>
                </a>
            </div>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
