{{ header }}
<div id="information-contact" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="container" align="center">
                <h1 class="marg-top" style="font-size: 27px;">Bonjour, comment pouvons-nous vous aider? </h1>
                <div style="margin-top: 70px">
                    <div class="col-md-3 col-sm-6 col-xs-12" align="center">
                        <a href="{{ Return_and_refund }}">
                            <img src="catalog/view/theme/default/image/Return and refund.png" alt="Return and refund"
                                 width="100" height="100">
                            <p style="margin-top: 15px;">Retour et remboursement</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="{{ shipping_and_delivery }}">
                            <img src="catalog/view/theme/default/image/shipping and delivery.png" width="100"
                                 height="100">
                            <p style="margin-top: 15px;">Expédition et livraison</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="{{ payment }}">
                            <img src="catalog/view/theme/default/image/payment.png" width="100" height="100">
                            <p style="margin-top: 15px;">Paiment</p>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="{{ Voucher }}">
                            <img src="catalog/view/theme/default/image/Voucher.png" width="100" height="100">
                            <p style="margin-top: 15px;">Bons de réduction</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 70px">
                    <h2> Contactez-nous! </h2>
                </div>

                <div class="col-md-12" style="margin-top: 70px">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <img src="catalog/view/theme/default/image/phone-number.png" width="100" height="90">
                        <p style="margin-top: 15px;">{{ telephone }}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 ">
                        <img src="catalog/view/theme/default/image/Whatsaap-number.png" width="100" height="90">
                        <p style="margin-top: 15px;">{{ telephone }}</p>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <img src="catalog/view/theme/default/image/mail.png" width="110" height="110">
                        <p style="margin-top: -5px;">info@zalark.com</p>
                    </div>
                </div>
                <div class="col-md-12 marge-top" align="center" style="margin-top: 35px;margin-bottom: 70px">
                    <p> Lundi-Vendredi 09:00/13:00 / 13:00-19:00 Samedi 09:00-13:00</p>
                </div>

                <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group required">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-12 col-xs-12">
                            <input type="text" name="name" value="{{ name }}" id="input-name"
                                   placeholder="{{ entry_name }}" class="form-control input-zalark"
                                   style="border-color: #ff1b5a"/>
                            {% if error_name %}
                                <div class="text-danger">{{ error_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="phone" value="{{ phone }}" id="input-phone"
                                   placeholder="{{ entry_phone }}" class="form-control input-zalark"
                                   style="border-color: #ff1b5a"/>
                            {% if error_phone %}
                                <div class="text-danger">{{ error_phone }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                                   id="input-email" class="form-control input-zalark"
                                   style="border-color: #ff1b5a"/>
                            {% if error_email %}
                                <div class="text-danger">{{ error_email }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <div  class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6q col-xs-12">
                                <textarea name="enquiry" rows="10" id="input-enquiry" placeholder="{{ entry_enquiry }}"
                                          class="form-control input-zalark"
                                          style="resize: none; border-color: #ff1b5a">{{ enquiry }}</textarea>
                            {% if error_enquiry %}
                                <div class="text-danger">{{ error_enquiry }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {{ captcha }}
                    <div class="form-group">
                        <div class="col-md-offset-7 col-sm-offset-7 col-lg-offset-7 col-md-2 col-sm-2 col-xs-12">
                            <button type="submit" class="zalark-button"
                                    style="font-size: 14px;">{{ button_submit }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
